{% extends "layout.html" %}
{% load static %}
{% block content %}


    <!-- start banner Area -->
    <section class="banner-area">
        <div class="container">
            <div class="row fullscreen align-items-center justify-content-start">
                <div class="col-lg-12">
                    <div class="active-banner-slider owl-carousel">
                        <!-- single-slide -->
                        <div class="row single-slide align-items-center d-flex">
                            <div class="col-lg-5 col-md-6">
                                <div class="banner-content">
                                    <h2qw>Welcome to<br>PTC Winery</h2qw>
                                    <p>Our extensive collection of wines are personally selected from over the world
                                        estates and range from quality every day drinking wine to more premium .</p>
                                    <div class="add-bag d-flex align-items-center">
                                        <!-- <a class="add-btn" href=""><span class="lnr lnr-cross"></span></a> -->
                                        <a href="{% url "shop" %}" class="add-btn">
                                            <span class="ti-bag"></span>
                                        </a>
                                        <span class="add-text text-uppercase">Start Shopping</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="banner-img">
                                    <img class="img-fluid" src="{% static 'img/banner/banner-img.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                        <!-- single-slide -->
                        <div class="row single-slide">
                            <div class="col-lg-5">
                                <div class="banner-content">
                                    <h1>Welcome to<br>PTC Winery</h1>
                                    <p>Our extensive collection of wines are personally selected from over the world
                                        estates and range from quality every day drinking wine to more premium .</p>
                                    <div class="add-bag d-flex align-items-center">
                                        <a class="add-btn" href=""><span class="lnr lnr-cross"></span></a>
                                        <span class="add-text text-uppercase">Add to Bag</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="banner-img">
                                    <img class="img-fluid" src="{% static 'img/banner/banner-img.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->

    <!-- start product Area -->
    <section class="active-product-area section_gap">

        <!-- single product slide -->
        <div class="single-product-slider">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 text-center">
                        <div class="section-title">
                            <h1>Recommended</h1>
                            <p>Products recommended to you base on your interests. Click more products for more product to appear here</p>
                        </div>
                    </div>
                </div>
                <div class="row">

                    {% for product in recommended %}
                        <!-- single product -->
                        <div class="col-lg-3 col-md-6">
                            <a href="/store/product/{{ product.id }}"  class="single-product">
                                <img
                                        style="object-fit: cover; aspect-ratio: 280/351"
                                        class="img-fluid"
                                        src="/media/{{ product.image }}"
                                        alt=""
                                >
                                <div class="product-details">
                                    <h6
                                        style="white-space: nowrap; max-width: 100%; overflow: hidden; text-overflow:ellipsis; "

                                    >{{ product.name }}</h6>
                                    <div class="price">
                                        <h6>${{ product.price }}</h6>
                                    </div>
                                    <div class="prd-bottom">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- single product -->
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- single product slide -->

        <div class="single-product-slider">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 text-center">
                        <div class="section-title">
                            <h1>Featured Products</h1>
                            <p>The the most trending products, you might be interested in</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for product in featured %}

                    <!-- single product -->
                    <div class="col-lg-3 col-md-6">
                        <a href="/store/product/{{ product.id }}"  class="single-product">
                                <img
                                        style="object-fit: cover; aspect-ratio: 280/351"
                                        class="img-fluid"
                                        src="/media/{{ product.image }}"
                                        alt=""
                                >
                                <div class="product-details">
                                    <h6
                                        style="white-space: nowrap; max-width: 100%; overflow: hidden; text-overflow:ellipsis; "

                                    >{{ product.name }}</h6>
                                    <div class="price">
                                        <h6>${{ product.price }}</h6>
                                    </div>
                                    <div class="prd-bottom">
                                    </div>
                                </div>
                            </a>
                    </div>
                    <!-- single product -->
                    {% endfor %}


                </div>
            </div>
        </div>
    </section>
    <!-- end product Area -->

{% endblock %}